
body {
  background-color: #f2faff;
}

.card {
  background-color: #9eddff;
}

#header-img {
  height: 10em;
  width: 15em;
}

#topbar {
  margin: auto;
  width: 60%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-bottom: none;
}

#topbar img {
  margin: .5em;
}

#topbar h1 {
  margin-bottom: 0px;
  font-size: 3em;
}
.info-text {
  font-size: .75em;
  font-style: italic;
  color: grey;
}

.project-info .card {
  margin-bottom: 1.5em;
}

.sign {
  text-align: center;
}

#about-me .card~.card {
  border-top: none;
  margin-top: 1em;
}

#content > div[class^="col"] {
  padding-top: .8em;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 1em;
}

#content > div[class^="col"]:not(:first-child) {
  border-left: none;
}
