#header-img {
  height: 10em;
  width: 15em;
}

#topbar {
  text-align: center;
  margin: auto;
  width: 40%;
  margin-bottom: 0.5em;
  /* border-style: solid;
  border-color: blue;
  background-color: lightblue; */
}

#topbar img {
  margin: .5em;
}

#topbar h1 {
  margin-bottom: 0px;
}
.info-text {
  font-size: .75em;
  font-style: italic;
  color: grey;
}

.project-info .card {
  margin-bottom: 1.5em;
}

.sign {
  text-align: center;
}

.about-me .card~.card {
  border-top: none;
}
