body {
  background-color: #f2faff;
}

em {
  font-weight: bold;
  color: #2F4049;
}

.card {
  background-color: #9eddff;
}

.infotext {
  font-size: .75em;
  font-style: italic;
  color: #353535;
}

#topbar {
  margin: auto;
  width: 60%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-bottom: none;
}

#topbar img {
  height: 10em;
  width: 15em;
  margin: .5em;
}

#topbar h1 {
  margin-bottom: 0;
  font-size: 3em;
}

#topbar p {
  margin-bottom: 0;
}

#content > div[class^="col"] {
  padding-top: .8em;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 1em;
}

#content > div[class^="col"] > h2 {
  text-align: center;
}

#content > div[class^="col"]:not(:first-child) {
  border-left: none;
}

#projects .card {
  margin-bottom: 1.5em;
}

#about-me {
  font-size: .95em;
}

#about-me .card-title {
  font-size: 1.4em;
}

#about-me .card-title,  .project-info .card-subtitle{
  margin-bottom: 0.2em;
  padding-bottom: .05em;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
}

#about-me .card-text, #about-me ul{
  line-height: 1.4em;
}

#about-me .card~.card {
  margin-top: 1em;
}

#about-me ul:last-of-type {
  margin-bottom: 0;
}

#about-me .card-text + ul {
  margin-top: -8px;
}

.project-info .card div:last-child {
  text-align: center;
  padding-bottom: 1em;
  padding-top: 0;
}

.project-info .card-body {
  padding-bottom: 0;
}

.project-info .card-body .card-subtitle:first-of-type {
  font-style: italic;
  /* padding-top: 0.1em; */
}

.project-info .card-text {
  font-size: .8em;
  padding-top: 0.4em;
}

.project-info .card-title {
  margin-bottom: .4em
}
